@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
h1 {
  text-align: center;
  margin-top: 20px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  width: 400px;
  margin: 20px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarImg {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.carDescription {
  text-align: center;
}

.firstName {
  color: #1890ff;
}
.icon {
  margin-right: 0.5rem;
}

.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.refetchBtn {
  margin-top: 1rem;
}

/* Mobile  Styles*/

@media (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .userContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .userProfile {
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .avatarImg {
    width: 80px;
    height: 80px;
  }
}
